/* MAIN STYLES COMPONENTES */

.titComponets {
    display: flex;
    justify-content: center; 
    border-radius: 10px;
    margin: 20px auto 10px auto;
    background-color: darkmagenta;
    color: white; 
    padding: 10px 20px; 
    border-radius: 10px; 
    text-align: center;
}

.menuComponentes {
    display: inline-block;
    justify-content: right;
}

.container-cardComponentes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container-cardComponentes {
        grid-template-columns: 1fr; 
        row-gap: 30px; 
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container-cardComponentes {
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .container-cardComponentes {
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 20px;
    }
}
